@font-face {font-family: Matrix; src: url('matrix_code_nfi/matrix\ code\ nfi.ttf')}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cube-width: 150px;
    --translateZ: 75px;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px;
    margin-top: 35px;
    padding: 0px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 800px;
    margin: 0px;
    padding: 0px;
}

.cube-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    perspective: 900px;
    perspective-origin: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
}

.button-container {
    background-color: none;
}

.btn-row {
    display: flex;
    justify-content: space-evenly;
}

.rotateBtn {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #121212;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.rotateBtn:hover {
    cursor: pointer;
}

.output-container {
    background-color: none;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-container {
    background-color: none;
}

#slerp-container {
    background-color: none;
}

.textCSS {
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
    color: white;
}

.cube {
    transform-style: preserve-3d;
    height: var(--cube-width);
    width: var(--cube-width);
}


.cube-face {
    height: var(--cube-width);
    width: var(--cube-width);
    background-color: none;
    position: absolute;
    /* outline: 1px black solid; */
}

.front {
    background-color: red;
    transform: translate3d(0,0,var(--translateZ));
    display: flex;
}

.back {
    background-color: orange;
    transform: rotate3d(0,1,0,180deg) translate3d(0,0,var(--translateZ));
}

.left {
    background-color: blue;
    transform: rotate3d(0,1,0,-90deg) translate3d(0,0,var(--translateZ));
}

.right {
    background-color: green;
    transform: rotate3d(0,1,0,90deg) translate3d(0,0,var(--translateZ));
}

.top {
    background-color: yellow;
    transform: rotate3d(1,0,0,90deg) translate3d(0,0,var(--translateZ));
}

.bottom {
    background-color: white;
    transform: rotate3d(1,0,0,-90deg) translate3d(0,0,var(--translateZ));
}

/* footer */
footer {
    text-align: center;
    margin-bottom: 15px; 
}

a {
    text-decoration: none;
}

.fa-linkedin {
    position: relative;
    right: 2%;
    color: white;
    transform: scale(0.75);
}

.fa-envelope {
    color: white;
    transform: scale(0.75);
}

.fa-github{
    position: relative;
    left: 2%;
    color: white;
    transform: scale(0.75);
}

@media (min-width: 1050px) {
    :root {
        --cube-width: 300px;
        --translateZ: 150px;
    }
    
    h1 {
        font-size: 80px;
    }

    h3 {
        font-size: 30px;
    }

    #main-container {
        flex-direction: row;
    }

    .cube-container {
        height: 600px;
        width: 100%;
    }

    .rotateBtn {
        font-size: 16px;
    }

    .textCSS {
        font-size: 15px;
    }  

    footer {
        text-align: center;
        margin-bottom: 25px; 
    }

}